### Importación de datos

In [40]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [41]:
# Asignar un identificador de tienda a cada DataFrame
tienda['Local'] = 'Tienda 1'
tienda2['Local'] = 'Tienda 2'
tienda3['Local'] = 'Tienda 3'
tienda4['Local'] = 'Tienda 4'

In [42]:
# Mostrar las primeras filas del DataFrame con el identificador de tienda
print(tienda.head())

            Producto Categoría del Producto    Precio  Costo de envío  \
0  Asistente virtual           Electrónicos  164300.0          6900.0
1    Mesa de comedor                Muebles  192300.0          8400.0
2      Juego de mesa               Juguetes  209600.0         15900.0
3         Microondas      Electrodomésticos  757500.0         41000.0
4   Silla de oficina                Muebles  335200.0         20200.0

  Fecha de Compra         Vendedor Lugar de Compra  Calificación  \
0      16/01/2021      Pedro Gomez          Bogotá             4
1      18/05/2022  Beatriz Morales        Medellín             1
2      15/03/2021   Juan Fernandez       Cartagena             1
3      03/05/2022   Juan Fernandez            Cali             4
4      07/11/2020    Maria Alfonso        Medellín             5

       Método de pago  Cantidad de cuotas       lat       lon     Local
0  Tarjeta de crédito                   8   4.60971 -74.08175  Tienda 1
1  Tarjeta de crédito                   4   6.25184 -75.56359  Tienda 1
2  Tarjeta de crédito                   1  10.39972 -75.51444  Tienda 1
3               Nequi                   1   3.43722 -76.52250  Tienda 1
4               Nequi                   1   6.25184 -75.56359  Tienda 1

In [43]:
# Concatenar todos los DataFrames en uno solo
df_total = pd.concat([tienda, tienda2, tienda3, tienda4], ignore_index=True)

In [44]:
# Convertir la columna 'Precio' a numérico, manejando posibles errores
df_total['Precio'] = pd.to_numeric(df_total['Precio'], errors='coerce')

In [45]:
# Mostrar información del DataFrame combinado
print("\nInformación del DataFrame combinado:")
print(df_total.info())

Información del DataFrame combinado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9435 entries, 0 to 9434
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                9435 non-null   object
 1   Categoría del Producto  9435 non-null   object
 2   Precio                  9435 non-null   float64
 3   Costo de envío          9435 non-null   float64
 4   Fecha de Compra         9435 non-null   object
 5   Vendedor                9435 non-null   object
 6   Lugar de Compra         9435 non-null   object
 7   Calificación            9435 non-null   int64
 8   Método de pago          9435 non-null   object
 9   Cantidad de cuotas      9435 non-null   int64
 10  lat                     9435 non-null   float64
 11  lon                     9435 non-null   float64
 12  Local                   9435 non-null   object
dtypes: float64(4), int64(2), object(7)
memory usage: 958.4+ KB
None

In [46]:
# Mostrar las primeras filas del DataFrame combinado
print("\nPrimeras filas del DataFrame combinado:")
print(df_total.head())

Primeras filas del DataFrame combinado:
            Producto Categoría del Producto    Precio  Costo de envío  \
0  Asistente virtual           Electrónicos  164300.0          6900.0
1    Mesa de comedor                Muebles  192300.0          8400.0
2      Juego de mesa               Juguetes  209600.0         15900.0
3         Microondas      Electrodomésticos  757500.0         41000.0
4   Silla de oficina                Muebles  335200.0         20200.0

  Fecha de Compra         Vendedor Lugar de Compra  Calificación  \
0      16/01/2021      Pedro Gomez          Bogotá             4
1      18/05/2022  Beatriz Morales        Medellín             1
2      15/03/2021   Juan Fernandez       Cartagena             1
3      03/05/2022   Juan Fernandez            Cali             4
4      07/11/2020    Maria Alfonso        Medellín             5

       Método de pago  Cantidad de cuotas       lat       lon     Local
0  Tarjeta de crédito                   8   4.60971 -74.08175  Tienda 1
1  Tarjeta de crédito                   4   6.25184 -75.56359  Tienda 1
2  Tarjeta de crédito                   1  10.39972 -75.51444  Tienda 1
3               Nequi                   1   3.43722 -76.52250  Tienda 1
4               Nequi                   1   6.25184 -75.56359  Tienda 1

In [47]:
# Calcular la facturación total (asumiendo que cada fila es una venta de 1 unidad)
df_total['Facturación'] = df_total['Precio']

In [48]:
# Mostrar las primeras filas con la columna de facturación
print("\nPrimeras filas con la columna de facturación:")
print(df_total.head())

Primeras filas con la columna de facturación:
            Producto Categoría del Producto    Precio  Costo de envío  \
0  Asistente virtual           Electrónicos  164300.0          6900.0
1    Mesa de comedor                Muebles  192300.0          8400.0
2      Juego de mesa               Juguetes  209600.0         15900.0
3         Microondas      Electrodomésticos  757500.0         41000.0
4   Silla de oficina                Muebles  335200.0         20200.0

  Fecha de Compra         Vendedor Lugar de Compra  Calificación  \
0      16/01/2021      Pedro Gomez          Bogotá             4
1      18/05/2022  Beatriz Morales        Medellín             1
2      15/03/2021   Juan Fernandez       Cartagena             1
3      03/05/2022   Juan Fernandez            Cali             4
4      07/11/2020    Maria Alfonso        Medellín             5

       Método de pago  Cantidad de cuotas       lat       lon     Local  \
0  Tarjeta de crédito                   8   4.60971 -74.08175  Tienda 1
1  Tarjeta de crédito                   4   6.25184 -75.56359  Tienda 1
2  Tarjeta de crédito                   1  10.39972 -75.51444  Tienda 1
3               Nequi                   1   3.43722 -76.52250  Tienda 1
4               Nequi                   1   6.25184 -75.56359  Tienda 1

   Facturación
0     164300.0
1     192300.0
2     209600.0
3     757500.0
4     335200.0

In [52]:
# Facturación total de cada tienda
facturacion_por_tienda = df_total.groupby('Local')['Facturación'].sum().sort_values(ascending=False)
print("\n1. Facturación total por tienda:")
print(facturacion_por_tienda)
print(f"\nLa tienda con mayor facturación es: {facturacion_por_tienda.index[0]}")

1. Facturación total por tienda:
Local
Tienda 1    1.150880e+09
Tienda 2    1.116344e+09
Tienda 3    1.098020e+09
Tienda 4    1.038376e+09
Name: Facturación, dtype: float64

La tienda con mayor facturación es: Tienda 1

# 2. Ventas por categoría

In [53]:
# Categorías más populares de cada tienda (basado en la cantidad de ventas)
categorias_populares = df_total.groupby(['Local', 'Categoría del Producto'])['Producto'].count().reset_index(name='Cantidad de Ventas')

In [54]:
def obtener_categoria_mas_popular(df):
    max_ventas = df['Cantidad de Ventas'].max()
    return df[df['Cantidad de Ventas'] == max_ventas]['Categoría del Producto'].iloc[0]

In [55]:
categorias_mas_populares_por_tienda = categorias_populares.groupby('Local').apply(obtener_categoria_mas_popular)
print("\n2. Categoría más popular por tienda:")
print(categorias_mas_populares_por_tienda)

2. Categoría más popular por tienda:
Local
Tienda 1    Muebles
Tienda 2    Muebles
Tienda 3    Muebles
Tienda 4    Muebles
dtype: object

<ipython-input-55-b5e6a1b37b8c>:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  categorias_mas_populares_por_tienda = categorias_populares.groupby('Local').apply(obtener_categoria_mas_popular)

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda